.courses-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 20px;
    direction: rtl;
}

.course-card {
    display: flex;
    width: 300px;
    flex-direction: column;
    height: 500px;
    background-color: white;
    box-shadow: 5px 5px 20px gray;
    border-radius: 8px;
    gap: 10px;
    direction: rtl;
    padding: 10px;
    position: relative;
}

.course-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.course-card p {
    margin-top: 0;
    margin-bottom: 0;
}

.course-card img {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
}

.course-info {
    margin-top: 220px;
}

.course-action {
    display: flex;
    justify-content: end;
    justify-items: end;
    align-items: end;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.course-desc {
    max-height: 100px;
    overflow: hidden;
}

.course-detail-container {
    display: flex;
    flex-direction: column;
}

.course-detail-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-right: 1px solid #ccc;
}

.course-detail-info p {
    margin-top: 0;
    margin-bottom: 0;
}

.chapters {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chapters .chapter:nth-child(1) {
    background: linear-gradient(to right, #f2e1e1, #e0a9a9);
}

.chapters .chapter:nth-child(2) {
    background: linear-gradient(to right, #c3d7ee, #96b9df);
}

.chapters .chapter:nth-child(3) {
    background: linear-gradient(to right, #c3e6cb, #96d4a6);
}

.chapters .chapter:nth-child(4) {
    background: linear-gradient(to right, #f4c3d0, #e996b2);
}

.chapters .chapter:nth-child(5) {
    background: linear-gradient(to right, #f7d3b5, #f4a896);
}

.chapters .chapter:nth-child(6) {
    background: linear-gradient(to right, #d8c3e6, #b096df);
}

.chapters .chapter:nth-child(7) {
    background: linear-gradient(to right, #b3e5e8, #96d1d8);
}

.chapters .chapter:nth-child(8) {
    background: linear-gradient(to right, #f7e8b3, #f4d796);
}

.chapters .chapter:nth-child(9) {
    background: linear-gradient(to right, #d1d8e0, #a3b4cc);
}

.chapter {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 5px 5px 5px #bebbbb;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chapter p {
    margin-bottom: 0;
}

.sessions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.session {
    margin-right: 20px;
    margin-left: 50px;
    border-bottom: 1px solid black;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
